# ESP32默认配置
# CPU主频配置为240MHz
CONFIG_ESP32_DEFAULT_CPU_FREQ_240=y
CONFIG_ESP32_DEFAULT_CPU_FREQ_MHZ=240

# 目标芯片配置为ESP32
CONFIG_IDF_TARGET_ESP32=y
CONFIG_IDF_TARGET="esp32"

# Flash配置为4MB
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="4MB"

# Flash频率配置为40MHz
CONFIG_ESPTOOLPY_FLASHFREQ_40M=y
CONFIG_ESPTOOLPY_FLASHFREQ="40m"